
# Build output
target/
Target/
**/.asciidoctor
**/var
src/main/asciidoc/index.pdf

# Editor files
**/.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~

# Node.js
node_modules/
package-lock.json

# IDE-specific files
.classpath
.project
.settings/
.java-version
