
# Build output
target/
Target/
**/.asciidoctor
**/var
src/main/asciidoc/index.pdf

# Editor files
**/.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~

# IDE-specific files
.classpath
.project
.settings/
.java-version
/node_modules
